* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8FFD7;
    color: #3E5F44;
    font-family: sans-serif, serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.8rem;
    color: #F87B1B;
}

.flip-cards {
    perspective: 1000px;
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background-color: #5E936C;
    border-radius: 5px;
}

.flip {
    transform: rotateY(180deg);
    background-color: #93DA97;
    box-shadow: 0 0 4px 2px #3E5F44;
}

.highlight {
    box-shadow: 0 0 8px 4px #F87B1B;
}

.hide {
    visibility: hidden;
    transition: visibility 0.5s ease-out;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front {
    transform: rotateY(180deg);
    background-color: #93DA97;
}

.card img {
    width: 50%;
}

@media (max-width: 450px) {
    .flip-cards {
        width: auto;
        height: auto;
    }
}